{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="display-1 text-light">
      Anime
      {% if is_moderator %}
      <a href="{% url 'geekplanet:anime-create' %}" class="btn btn-lg btn-light link-to-page ml-3">
        Add new Anime
      </a>
      {% endif %}
    </h1>

    <div class="row mt-4">
      {% if anime_list %}
        {% for anime in anime_list %}
          <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%; height: 100%; position: relative; overflow: hidden;">
              <a href="{% url 'geekplanet:anime-detail' pk=anime.id %}" class="text-decoration-none text-light">
                <img src="{{ anime.get_anime_picture }}" alt="{{ anime.title }}"
                     style="height: 400px; width: 100%; object-fit: cover;">
                <div class="card-body anime-info"
                     style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); padding: 10px; transition: transform 0.5s ease;">
                  <h5 class="card-title">
                    {{ anime.title }}{% if anime.start_date %} ({{ anime.start_date.year }}){% endif %}</h5>
                  <p class="card-text"><strong>Type:</strong> {{ anime.anime_type }}</p>
                  <p class="card-text"><strong>Status:</strong> {{ anime.get_status_display }}</p>
                  <p class="card-text"><strong>Rating:</strong> {{ anime.average_rating }}</p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h1 class="display-1 text-light">There are no animes in the service.</h1>
      {% endif %}
    </div>
  </div>
{% endblock %}
