{% load static %}
<header class="container-fluid bg-dark py-3 sticky-top">
  <div class="row align-items-center">
    <div class="col-auto">
      <a href="{% url 'geekplanet:mainpage' %}">
        <img src="{% static 'img/logo.png' %}" alt="GeekPlanet Logo" height="50">
      </a>
    </div>

    <div class="col-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          {{ current_area|default:"GeekPlanet" }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{% url "geekplanet:anime-list" %}">Animes</a></li>
          <li><a class="dropdown-item" href="#">Films</a></li>
          <li><a class="dropdown-item" href="{% url "geekplanet:user-list" %}">Geeks</a></li>
        </ul>
      </div>
    </div>

    {% include "includes/search_form.html" %}

    <div class="col-auto text-end d-flex align-items-center">
      {% if user.is_authenticated %}
        <img src="{{ current_user.profile_picture.url }}" alt="{{ current_user.username }}`s profile picture"
             class="rounded-circle"
             style="width: 40px; height: 40px; margin-right: 10px;">
        <span class="me-3">
          <h4>
            <a class="text-decoration-none text-reset"
               href={% url "geekplanet:user-detail" pk=current_user.id %}>{{ current_user.username }}</a>
          </h4>
        </span>
        <form action="{% url 'geekplanet:logout' %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'geekplanet:login' %}" class="btn btn-primary">Login</a>
      {% endif %}
    </div>
  </div>
</header>
